openapi: 3.0.1
info:
  title: STD21081
  description: Hello World !
 
  version: 1.0.0
externalDocs:
 
  url: http://swagger.io
servers:

- url: http://std21081.com
tags:
- name: Students
  
- name: Courses
paths:
  /Students:
    get:
      tags:
      - Students
      summary: Get all students
      description: Get all students with details
      operationId: updatePet
      parameters: 
      - name: page
        in: query
        schema: 
          type: integer
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creatstudents' 
                type: object
                additionalProperties:
                  type: integer
                  format: int32
        400: 
          description: Bad request
          content: {}
    post:
      tags:
      - Students
      summary: Create new students
      description: Create new students from an array
      requestBody:
        description: Students to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Students'    
        required: true
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creatstudents' 
                type: object
                additionalProperties:
                  type: integer
                  format: int32
     
  
components:
  schemas:
   Creatstudents: 
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Category
   Students:
      type: object
      properties:
        name:
          type: string
      xml:
        name: Category
        